<mat-grid-list cols="2" style="padding-top: 3%;">
    <mat-grid-tile rowspan="1">
        <img class="foto1" [src]="imagem" alt="">
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">
        <div class="form-wrapper container" style="color: #458AF1;  ">
            <h2><strong>Cadastro</strong></h2>

            <mat-stepper orientation="vertical" #stepper>
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <h2>Cadastro</h2>

                    <mat-step [stepControl]="signupForm">
                        <ng-template matStepLabel>Nome</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Seu nome" formControlName="nome" required />
                            <mat-error *ngIf="signupForm.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
                            <mat-icon matPrefix>person</mat-icon>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>Avançar</button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="signupForm">
                        <ng-template matStepLabel>Apelido</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Apelido</mat-label>
                            <input matInput placeholder="Ex: Apreciador de cuscuz" formControlName="nick" required />
                            <mat-error *ngIf="signupForm.get('nick')?.errors?.['required']">Campo obrigatório</mat-error>
                            <mat-icon matPrefix>person</mat-icon>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>Avançar</button>
                            <button mat-button matStepperPrevious>Voltar</button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="signupForm">
                        <ng-template matStepLabel>Email</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Seu email" formControlName="email" required />
                            <mat-error *ngIf="signupForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
                            <mat-error *ngIf="signupForm.get('email')?.errors?.['email']">Email inválido</mat-error>
                            <mat-icon matPrefix>email</mat-icon>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>Avançar</button>
                            <button mat-button matStepperPrevious>Voltar</button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="signupForm">
                        <ng-template matStepLabel>Senha</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Senha</mat-label>
                            <input matInput placeholder="Sua senha" formControlName="senha" type="password" required />
                            <mat-error *ngIf="signupForm.get('senha')?.errors?.['required']">Campo obrigatório</mat-error>
                            <mat-error *ngIf="signupForm.get('senha')?.errors?.['minlength']">O mínimo são 8 caracteres
                            </mat-error>
                            <mat-icon matPrefix>key</mat-icon>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>Avançar</button>
                            <button mat-button matStepperPrevious>Voltar</button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="signupForm">
                        <ng-template matStepLabel>Confirmar Senha</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Confirmar senha</mat-label>
                            <input matInput placeholder="Confirmar senha" formControlName="confirma_senha" type="password" />
                            <mat-icon matPrefix>key</mat-icon>
                        </mat-form-field>
                        <span class="mat-error" *ngIf="signupForm.errors?.['matchPasswords'] && signupForm.get('confirma_senha')?.touched">
                            As senhas não correspondem
                        </span>
                        <div>
                            <button mat-button matStepperNext>Avançar</button>
                            <button mat-button matStepperPrevious>Voltar</button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="signupForm">
                        <div style="margin-bottom: 3%;">
                            <ng-template matStepLabel>Cadastrar ou Entrar com Google/Facebook</ng-template>
                        </div>
                        <div>

                            <button class="text" mat-button matStepperPrevious>Voltar</button>
                        </div>
                        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" style="margin-bottom: 15px;">
                        </ngx-recaptcha2>
                        <button class="btnLoginBG" mat-raised-button (click)="onSubmit()" [disabled]="signupForm.invalid">
                            Cadastrar
                        </button>
                        <span class="ou">ou</span>
                        <button (click)="onLoginGoogle()" type="button" mat-raised-button color="warn" class="btnLoginBG2">
                            Entrar com o google
                        </button>

                        <div>
                            <button class="btnLoginBG3" type="button" mat-button matStepperPrevious color="primary">Entrar com Facebook</button>
                        </div>


                    </mat-step>
                </form>
            </mat-stepper>
        </div>
    </mat-grid-tile>
</mat-grid-list>