main {
  background-color: #f8f6fc;
  height: 90vh;
  display: flex;
  justify-content: center;

}

.container-signup {
  margin-top: 100px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 4px 4px 4px rgba(115, 115, 115, 0.442);
  width: 50%;
  height: 600px;
  display: flex;
}

.photo-area {
  background-image: url("/assets/img/cadastro-img.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.photo-area p {
  font-weight: 600;
}

.btn{
  text-align: center;
  margin: 4px;
  color: white;
}



.btn-facebook {
  background-color: #133C5B;
}

.cadastro-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cadastro-area mat-form-field,
.cadastro-area button{
  width: 100%;
}



.btn-cadastro {
  background-color: #458af1;
}
