<div *ngIf="diario$ | async as diario; else loading">
  <div >
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ diario.usuarioName }}</mat-card-title>
        <mat-card-subtitle>{{ diario.usuarioNick }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image [src]="diario.imagem" alt="Photo" />
        <h2>{{ diario.titulo }}</h2>
        <small>{{ diario.data | date }} | {{ diario.local }}</small>
        <p>{{ diario.corpo }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<ng-template #loading>
  <app-loader label="Carregando diário..."></app-loader>
</ng-template>
