<div class="container" style="margin-top: 100px; text-align: center;">
    <hr>
    <h1> <span style="font-weight: 800; color: #3C7AE7"> Documente Suas Melhores Aventuras</span><br>
    </h1>
    <h2 style="font-weight: 800; color: #3C7AE7"> <span>E venha fazer parte do maior App de viagens do Brasil</span></h2>

    <div class="container1" style="margin-top: 5%;">
        <div class="row">
            <div class="col-sm">
                <img src="../../../../assets/img/grupo.png"> <span class="icon"><strong>100.000</strong>+</span> <br>
                <h3 style="color: #3C7AE7"><strong>Usuários inscritos</strong></h3>

            </div>
            <div class="col-sm">
                <img src="../../../../assets/img/globo.png"> <span class="icon"><strong>5.000+</strong></span> <br>
                <h3 style="color: #3C7AE7"><strong>Destinos</strong></h3>

            </div>
            <div class="col-sm">
                <img src="../../../../assets/img/mapa.png"><span class="icon"><strong> 10.000+</strong></span><br>
                <h3 style="color: #3C7AE7"><strong>Trips registradas</strong></h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> -->
                        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                    </ol>


                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../../../assets/img/squad/elaine.jpg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Elaine Brito</h2>
                                            <p>Desenvolvedora</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../../../assets/img/squad/mercador.jpg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Alexandre Mercador</h2>
                                            <p>Desenvolvedor</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../../../assets/img/squad/cicero.jpg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Cícero Cristiano</h2>
                                            <p>Desenvolvedor</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../../../assets/img/squad/gabi.jpg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Gabriela Sabrine</h2>
                                            <p>Desenvolvedora</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../../../assets/img/squad/minervino.jpg" alt=""></div>
                                        <div class="img-text">
                                            <h2>João Victor Minervino</h2>
                                            <p>Desenvolvedor</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../../../assets/img/squad/tony.jpg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Tony Kerisleyk</h2>
                                            <p>Desenvolvedor</p>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <!-- 
                            <div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden"></span>
                                </button>

                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>