<!-- <h2>Você precisa verificar seu email</h2>
<a mat-raised-button color="primary" routerLink="/login">
    Ativei meu email
</a> -->

<main>
  <div class="container-email">
    <h1>Verifique sua conta</h1>
    <p class="message">
      O link de ativação da conta foi enviado para o endereço de e-mail que você forneceu</p>
    <div class="d-flex flex-column">
      <div class="container">
        <div class="envelope">
          <div class="envelope-front">
          </div>
          <div class="envelope-flap">
          </div>
          <div class="envelope-flap moves">
          </div>
          <div class="letter">
          </div>
        </div>
      </div>
      <a>Não recebeu o e-mail? envie de novo</a>
      <button mat-raised-button color="primary">Confirmei meu E-mail</button>
    </div>
  </div>
</main>
