<!-- <div class="todo">
  <footer class="text-white">
    <div class="py-3">
      <div style="display: flex; justify-content: space-between" class="row">
        <div class="col-md-2">
          <div class="logo">
            <a mat-button routerLink="/home" class="link">
              <img src="/assets/img/logo.png" style="width: 160px; margin: -30px;">
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <h6><strong>MINHA CONTA</strong></h6>
          <ul class="list-unstyled">
            <li><a [routerLink]="'/login'"> Entrar</a></li>
            <li><a [routerLink]="'/termos-de-privacidade'">Termos de Privacidadade</a></li>
            <li><a [routerLink]="'#'">Política de Uso</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6><strong>CONTATO</strong></h6>
          <ul class="list-unstyled text-secondary">
            <li>
              Rua Cabral, 1578 – Bela Vista/SP <br>

            </li>
            <li><i class="bi bi-envelope"></i> contato@itravel.com.br</li>
            <li><i class="bi bi-whatsapp"></i>(11) 91919-9191</li>
          </ul>
        </div>

        <div class="col-md-2">
          <h6><strong>MAIS</strong></h6>
          <ul class="list-unstyled text-secondary">
            <li><a href="">Sobre</a></li>
            <li><a href="">Localização</a></li>
            <li><a href="">Carreira</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6><strong>NOTÍCIAS</strong></h6>
          <ul class="list-unstyled text-secondary">
            <li><a href="">Blog</a></li>
            <li><a href="">Notícias sobre viagens</a></li>
            <li><a href="">Próximo destino</a></li>
          </ul>
        </div>

      </div>


    </div>
    <div class="text-center py-3" style="background-color: #0A184F">
      <p class="mb-0">iTravel © 2022. Alguns direitos reservados</p>
    </div>
  </footer>
</div> -->


<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Something</h1>

    <h2>Contact</h2>

    <address>
      5534 Somewhere In. The World 22193-10212<br>

      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Online</a>
        </li>

        <li>
          <a href="#">Print</a>
        </li>

        <li>
          <a href="#">Alternative Ads</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Technology</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Hardware Design</a>
        </li>

        <li>
          <a href="#">Software Design</a>
        </li>

        <li>
          <a href="#">Digital Signage</a>
        </li>

        <li>
          <a href="#">Automation</a>
        </li>

        <li>
          <a href="#">Artificial Intelligence</a>
        </li>

        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Use</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2019 Something. All rights reserved.</p>

    <div class="legal__links">
      <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
    </div>
  </div>
</footer>
