.foto {
    width: 100%;
    margin: 25px 25px 25px 25px;
}

.banner-image {
    background-image: url("/assets/img/pexels-pixabay-62623.jpg");
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-text {
    color: #B3700E;
}