<!--


<main>
  <div></div>
  <div>

    <div>
      <img src="" alt="">
      <p>Nathaniel Poole</p>
      <p>Microsoft Inc.</p>
      <div>
        <p>Opportunieties applied</p>
        <span>32</span>
      </div>
      <div>
        <p>Opportunieties won</p>
        <span>26</span>
      </div>
      <div>
        <p>Current opportunieties</p>
        <span>6</span>
      </div>
      <button>View Public Profile</button>
      <input type="text">
    </div>

    <div>
      <div>
        <p>Account Settings</p>
        <p>Company Settings</p>
        <p>Documents</p>
        <p>Billing</p>
        <p>Notifications</p>
      </div>

    </div>
  </div>
</main> -->
